<!DOCTYPE html>
{% extends 'home.html' %}
{% block body-block %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ailsdet</title>
  </head>
  <body>

<div>
       <ul>

          {% for activity in details2.activity_periods1.all %}
               <span><strong>activity_periods : extended duration </strong></span></br>
               <div><strong>start_time : </strong>{{activity.start_time}}</div>
               <div><strong>end_time : </strong>{{activity.end_time}}</div>
           {% endfor %}


       </ul>
     </div>

  </body>
{% endblock %}

</html>
